<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" type="text/css" href="../css/chat.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="../img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="../img/system/chat-fill.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="../img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="../img/system/compass-empty.svg" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="../img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}"><img src="../img/smallAvatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar"></a>
        </div>
      </section>
    </header>
    
  <!-- ЧАТЫ -->
  <section class="main-section">
      <ul class="chats" id="outputChats">
        {{#each chats}}
          <li class="chat" id_chat="{{this.id_chat}}" username="{{this.interlocutor.username}}" id="chat" online="{{this.interlocutor.online}}" lastMessage="{{#if this.sender}}Вы: {{/if}}{{this.info.last_message_content}}">
               <img src="./../img/smallAvatar/{{#if this.interlocutor.avatar}}{{this.interlocutor.id}}{{else}}standard{{/if}}.jpg" id_chat="{{this.id_chat}}" alt="{{this.interlocutor.name_lastname}}" title="{{this.interlocutor.name_lastname}}" class="chatAvatarImg">
              <div class="onlinePoint" id="onlinePoint" id_chat="{{this.id_chat}}" style="display:none"></div>
              <div>
                  <p id="chatName" id_chat="{{this.id_chat}}" class="lastSenderText">{{this.interlocutor.name_lastname}}</p>
                  <p id="lastMessage" id_chat="{{this.id_chat}}" class="lastMessageText">{{#if this.sender}}Вы: {{/if}}{{this.info.last_message_content}}</p>
              </div>
              <div>
                  <p id="time_last_message" class="time_last_message">{{this.info.last_message_time}}</p>
                  <div id="read" class="{{#if this.unreadBool}}unread{{else}}{{#if interlocutorNotRead}}blueUnread{{/if}}{{/if}}">{{#if interlocutorNotRead}}{{else}}{{this.unread}}{{/if}}</div>
              </div>                             
          </li>
        {{/each}}
      </ul>

      <div class="chatBox">
          <div class="chatInfo" id="chatInfo">
              <div class="chatInfoBlock">
                  <a href="/user/{{interlocutor.username}}" id="nameHref"><p class="chatInfoName" id="chatInfoName">{{interlocutor.name_lastname}}</p></a>
                  <div >
                      <div id="typing"></div>
                      <div class="onlineBlock"></div>
                      <p id="status" class="chatOnlineText"></p>
                  </div>
              </div>

              <a href="/user/{{interlocutor.username}}" id="imgHref">
                <img src="./../img/smallAvatar/{{#if interlocutor.avatar}}{{interlocutor.id}}{{else}}standard{{/if}}.jpg" class="chatInfoImg" id="chatInfoImg" title="{{interlocutor.username}}" style="{{#if interlocutor}} {{else}}display: none;{{/if}}">
              </a>
          </div>

          <div class="messageBox" id="messageBox">
              <ul class="outputmessages" id="outputMessages">
                {{#each messages}}
                  <li class="message {{#if im-sender}}own{{else}}interlocutor{{/if}}">
                      <p>{{this.content}}</p>
                      <date style="font-size:12px; color: #000">{{this.sent_date}}</date>
                  </li>
                {{/each}}
              </ul>
          </div>

          <div class="inputBox">
              <input id="message" placeholder="Введите сообщение..." class="inputText" autocomplete="off">
              <img class="imgSend" id="send" src='../img/system/send.svg'>
          </div>
      </div>
  </section>

  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/messenger_constants.js"></script>
  <script src="../js/sockets.js"></script>
  <script src="../js/messenger.js"></script>
  <script src="../js/parseDate.js"></script>
  <script>
   
    {{#if interlocutor}}
    outputMessages.scrollTop = outputMessages.scrollHeight
    activeConversation = 'none';
    idInterlocutor = '{{interlocutor.id}}';
    status.textContent = wasOnline('{{interlocutor.online}}')
    {{/if}}
    
  </script>
  </body>
</html>