<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" type="text/css" href="../css/chat.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="../img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="../img/system/chat-fill.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="../img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="../img/system/compass-empty.svg" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="../img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}"><img src="../img/smallAvatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar"></a>
        </div>
      </section>
    </header>
    
  <!-- ЧАТЫ -->
  <section class="main-section">
      <ul class="chats" id="outputChats">
        {{#each chats}}
          <li class="chat" id_chat="{{this.id_chat}}" username="{{this.interlocutor.username}}" id="chat" online="{{this.interlocutor.online}}" lastMessage="{{#if this.sender}}Вы: {{/if}}{{this.info.last_message_content}}">
               <img src="./../img/smallAvatar/{{#if this.interlocutor.avatar}}{{this.interlocutor.id}}{{else}}standard{{/if}}.jpg" id_chat="{{this.id_chat}}" alt="{{this.interlocutor.name_lastname}}" title="{{this.interlocutor.name_lastname}}" class="chatAvatarImg">
              <div class="onlinePoint" id="onlinePoint" id_chat="{{this.id_chat}}" style="display:none"></div>
              <div>
                  <p id="chatName" id_chat="{{this.id_chat}}" class="lastSenderText">{{this.interlocutor.name_lastname}}</p>
                  <p id="lastMessage" id_chat="{{this.id_chat}}" class="lastMessageText">{{#if this.sender}}Вы: {{/if}}{{this.info.last_message_content}}</p>
              </div>
              <div>
                  <p id="time_last_message" class="time_last_message">{{this.info.last_message_time}}</p>
                  <div id="read" class="{{#if this.unreadBool}}unread{{else}}{{#if interlocutorNotRead}}blueUnread{{/if}}{{/if}}">{{#if interlocutorNotRead}}{{else}}{{this.unread}}{{/if}}</div>
              </div>                             
          </li>
        {{/each}}
      </ul>

      <div class="chatBox">
          <div class="chatInfo" id="chatInfo">
              <div class="chatInfoBlock">
                  <a href="/user/{{interlocutor.username}}" id="nameHref"><p class="chatInfoName" id="chatInfoName">{{interlocutor.name_lastname}}</p></a>
                  <div >
                      <div id="typing"></div>
                      <div class="onlineBlock"></div>
                      <p id="status" class="chatOnlineText"></p>
                  </div>
              </div>

              <a href="/user/{{interlocutor.username}}" id="imgHref">
                <img src="./../img/smallAvatar/{{#if interlocutor.avatar}}{{interlocutor.id}}{{else}}standard{{/if}}.jpg" class="chatInfoImg" id="chatInfoImg" title="{{interlocutor.username}}" style="{{#if interlocutor}} {{else}}display: none;{{/if}}">
              </a>
          </div>

          <div class="messageBox" id="messageBox">
              <ul class="outputmessages" id="outputMessages">
                {{#each messages}}
                  <li class="message {{#if im-sender}}own{{else}}interlocutor{{/if}}">
                      <p>{{this.content}}</p>
                      <date style="font-size:12px; color: #000">{{this.sent_date}}</date>
                  </li>
                {{/each}}
              </ul>

                <div class="sticker-menu" id="sticker-menu" style="display: none;">
                <p id="Имбирчик">Имбирчик</p>
                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16263-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16264-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16265-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16266-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16267-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16268-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16269-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16270-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16271-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16272-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16273-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16274-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16275-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16276-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16277-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16278-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16279-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16280-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16281-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16282-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16283-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16284-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16285-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16286-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16287-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16288-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16289-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16290-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16291-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16292-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16293-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16294-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16295-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16296-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16297-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16298-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16299-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16300-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16301-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16302-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16303-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16304-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16305-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16306-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16307-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16308-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16309-256" height="88" alt="Имбирчик"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16310-256" height="88" alt="Имбирчик"></li>
                </ul>

                <p id="Барон Симон">Барон Симон</p>

                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58821-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58822-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58823-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58824-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58825-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58826-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58827-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58828-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58829-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58830-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58831-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58832-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58833-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58834-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58835-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58836-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58837-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58838-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58839-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58840-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58841-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58842-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58843-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58844-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58845-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58846-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58847-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58848-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58849-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58850-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58851-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58852-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58853-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58854-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58855-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58856-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58857-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58858-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58859-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58860-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58861-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58862-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58863-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58864-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58865-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58866-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58867-256" height="88" alt="Барон Симон"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58868-256" height="88" alt="Барон Симон"></li>
                </ul>


                <p id="Манул Ур">Манул Ур</p>

                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67057-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67058-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67059-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67060-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67061-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67062-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67063-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67064-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67065-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67066-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67067-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67068-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67069-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67070-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67071-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67072-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67073-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67074-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67075-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67076-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67077-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67078-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67079-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67080-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67081-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67082-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67083-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67084-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67085-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67086-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67087-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67088-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67089-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67090-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67091-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67092-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67093-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67094-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67095-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67096-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67097-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67098-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67099-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67100-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67101-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67102-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67103-256" height="88" alt="Манул Ур"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67104-256" height="88" alt="Манул Ур"></li>
               </ul>



               <p id="Эмили">Эмили</p>

                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72135-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72136-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72137-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72138-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72139-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72140-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72141-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72142-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72143-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72144-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72145-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72146-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72147-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72148-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72149-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72150-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72151-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72152-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72153-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72154-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72155-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72156-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72157-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72158-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72159-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72160-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72161-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72162-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72163-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72164-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72165-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72166-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72167-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72168-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72169-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72170-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72171-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72172-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72173-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72174-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72175-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72176-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72177-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72178-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72179-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72180-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72181-256" height="88" alt="Эмили"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72182-256" height="88" alt="Эмили"></li>
               </ul>


                <p id="Пушух">Пушух</p>

                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72267-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72268-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72269-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72270-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72271-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72272-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72273-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72274-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72275-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72276-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72277-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72278-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72279-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72280-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72281-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72282-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72283-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72284-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72285-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72286-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72287-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72288-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72289-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72290-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72291-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72292-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72293-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72294-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72295-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72296-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72297-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72298-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72299-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72300-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72301-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72302-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72303-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72304-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72305-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72306-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72307-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72308-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72309-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72310-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72311-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72312-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72313-256" height="88" alt="Пушух"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72314-256" height="88" alt="Пушух"></li>
               </ul>


               <p id="Муркс">Муркс</p>

                <ul class="all-stickers">
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18897-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18898-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18899-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18900-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18901-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18902-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18903-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18904-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18905-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18906-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18907-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18908-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18909-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18910-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18911-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18912-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18913-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18914-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18915-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18916-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18917-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18918-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18919-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18920-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18921-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18922-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18923-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18924-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18925-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18926-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18927-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18928-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18929-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18930-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18931-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18932-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18933-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18934-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18935-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18936-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18937-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18938-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18939-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18940-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18941-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18942-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18943-256" height="88" alt="Муркс"></li>
                  <li class="liSticker"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18944-256" height="88" alt="Муркс"></li>
               </ul>



                <div class="bottom-menu">
                  <a href="#Имбирчик"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-16300-64" height="35" alt="Имбирчик"></a> 
                  <a href="#Барон Симон"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-58840-64" height="35" alt="Барон Симон"></a> 
                  <a href="#Манул Ур"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-67086-64" height="35" alt="Манул Ур"></a> 
                  <a href="#Эмили"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72149-64" height="35" alt="Эмили"></a> 
                  <a href="#Пушух"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-72313-64" height="35" alt="Пушух"></a> 
                  <a href="#Муркс"><img class="sticker_img im_gift" src="https://vk.com/sticker/1-18915-64" height="35" alt="Муркс"></a> 
                </div>
              </div>
          </div>

          <div class="inputBox">
              <input id="message" placeholder="Введите сообщение..." class="inputText" autocomplete="off">
              <img class="sticker-button" id="sticker-button" src='../img/system/sticker.svg' title="Стикеры">
              <img class="imgSend" id="send" src='../img/system/send.svg'>
          </div>
      </div>
  </section>

  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/messenger_constants.js"></script>
  <script src="../js/sockets.js"></script>
  <script src="../js/messenger.js"></script>
  <script src="../js/parseDate.js"></script>
  <script src="../js/sweetalert2.all.min.js"></script>
  <script>
   
    {{#if interlocutor}}
    outputMessages.scrollTop = outputMessages.scrollHeight
    activeConversation = 'none';
    idInterlocutor = '{{interlocutor.id}}';
    status.textContent = wasOnline('{{interlocutor.online}}')
    {{/if}}
    
  </script>

  <script>
    stickerButton.onclick = () => {
      if (stickerMenu.style.display == "none") stickerMenu.style = "display: block;"
      else stickerMenu.style = "display: none;"
    }
  </script>
  </body>
</html>