<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" type="text/css" href="./css/main-page.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="./img/system/home-fill.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="./img/system/chat-empty.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="./img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="./img/system/compass-empty.svg" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="./img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}"><img src="./img/avatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar"></a>
        </div>
      </section>
    </header>
    <canvas class="background"> </canvas>

    <section class="main-section" id="main-section">
      
        <ul>
          {{#if posts}}
          {{#each posts}}
            <li>
              <a href="/user/{{this.user.username}}" class="owner-block">
                <img src="../img/avatar/{{#if this.user.avatar}}{{this.user.id}}{{else}}standard{{/if}}.jpg" alt="{{this.user.name_lastname}}" title="{{this.user.name_lastname}}" class="owner-avatar">
                <p class="owner-username">{{this.user.username}}</p>
              </a>
              <a href="/post/{{this.id_img}}">
                <img src="/img/postedPic/{{this.id_img}}.jpg" class="post-pic" title="{{this.comment}}">
              </a>
              <div class="under-post">
                <img src="../img/system/{{#if this.like}}liked{{else}}notification-empty{{/if}}.svg" title="Нравится" class="like" onclick="like(this, '{{this.id_img}}')">
                <img src="../img/system/copy.svg" title="Скопировать ссылку" class="copy" id="copy" onclick="copy('/post/{{this.id_img}}')">

                <p class="comment-text"><span style="font-weight: 500;" id="likes_{{this.id_img}}" likes="{{this.countLikes}}" >Отметок нравится: {{this.countLikes}}</span></p>
                {{#if this.comment}}<p class="comment-text"><a href="user/{{this.user.username}}"><span style="font-weight: 500;">{{this.user.username}}:</span></a> {{this.comment}}</p>{{/if}}
              </div>
            </li>
          {{/each}}
          <button class="button_more" onclick="window.location='/recommendation'">Смотреть популярные посты</button>
          {{else}}
            <h1 style="text-align: center; margin: 25px 0 20px 0;">Популярное</h1>
            {{#each recommendation}}
              <li>
              <a href="/user/{{this.user.username}}" class="owner-block">
                <img src="../img/avatar/{{#if this.user.avatar}}{{this.user.id}}{{else}}standard{{/if}}.jpg" alt="{{this.user.name_lastname}}" title="{{this.user.name_lastname}}" class="owner-avatar">
                <p class="owner-username">{{this.user.username}}</p>
              </a>
              <a href="/post/{{this.id_img}}">
                <img src="/img/postedPic/{{this.id_img}}.jpg" class="post-pic" title="{{this.comment}}">
              </a>
              <div class="under-post">
                <img src="../img/system/{{#if this.like}}liked{{else}}notification-empty{{/if}}.svg" title="Нравится" class="like" onclick="like(this, '{{this.id_img}}')">
                <img src="../img/system/copy.svg" title="Скопировать ссылку" class="copy" id="copy" onclick="copy('/post/{{this.id_img}}')">

                <p class="comment-text"><span style="font-weight: 500;" id="likes_{{this.id_img}}" likes="{{this.countLikes}}" >Отметок нравится: {{this.countLikes}}</span></p>
                <p class="comment-text"><span style="font-weight: 500;">{{this.user.username}}:</span> {{this.comment}}</p>
              </div>
            </li>
            {{/each}}
          {{/if}}
    </section>

  <script src = "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
  <script src="./js/main-page-listener.js"></script>
  <script>
    window.onload = function() {
      const colors = ['#F9D423', '#FF4E50', '#BB377D', '#8CA6DB', '#00d2ff', '#FC354C', '#480048', '#FF8008', '#1FA2FF']
      let random_color = Math.floor(Math.random() * ((colors.length-1) + 1))
      Particles.init({
          selector: '.background',
          color: colors[random_color],
          connectParticles: 'true',
          maxParticles: 130,
          speed: 0.25,
      });
    };
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="../js/sockets.js"></script>
   <script src="../js/sweetalert2.all.min.js"></script>
    <script>
      function like (el, id_img) {
        fetch(`post/like/${id_img}`, {
        method: "post",
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
      });
      const count = document.getElementById(`likes_${id_img}`);

      if (el.src.indexOf('notification') > -1) {
        el.src = "../img/system/liked.svg";
        count.attributes.likes.value = ++count.attributes.likes.value;
      }
      else {
        count.attributes.likes.value = --count.attributes.likes.value;
        el.src = "../img/system/notification-empty.svg";
      }
      count.innerHTML = `Отметок нравится: ${count.attributes.likes.value}`;
      }

      function copy (link) {
        navigator.clipboard.writeText(window.location.host + link)
          .then(() => {
             Swal.fire({
              position: 'top',
              icon: 'success',
              title: 'Ссылка на пост была скопирована',
              showConfirmButton: false,
              timer: 1000
            })
          })
          .catch(err => {
              Swal.fire({
                position: 'top',
                icon: 'error',
                title: 'Упс, что-то пошло не по плану. Сообщите об этом нам',
                showConfirmButton: false,
                timer: 2000
              })
          });
      }
    </script>
  </body>
</html>