<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>@{{owner.username}}</title>
    <link rel="stylesheet" type="text/css" href="./../css/profile-page.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./../img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="./../img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="./../img/system/chat-empty.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="./../img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/find"><img src="./../img/system/compass-empty.svg" alt="Найти людей" title="Найти людей"></a>
          <a href="/notification"><img src="./../img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}"><img src="./../img/avatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar"></a>
        </div>
      </section>
    </header>

    <section class="profile-section">
      <div class="avatar-main-block">
        <img src="./../img/avatar/{{#if owner.avatar}}{{owner.id}}{{else}}standard{{/if}}.jpg" alt="{{owner.name_lastname}}" title="{{owner.name_lastname}}" class="user-avatar-main">
      </div>
      <div class="info-block">
        <div class="username-block"> 
          <p class="user-username">{{owner.username}}</p>
          {{#if user.owner}}
            <button class="settings-button" onclick="window.location='/settings'">Настройки</button>
          {{else}}
          <form action="/follow/{{owner.username}}" method="post">
            {{#if user.follow}}
            <button class="unfollow-button">Отписаться</button>
            {{else}}
            <button class="follow-button">Подписаться</button>
            {{/if}}
          </form>
          {{/if}}
         
        </div>
       
       <div class="numbers-block">
        <p>публикаций : {{owner.countPost}}</p>
        <p>подписчиков : {{owner.countFollowers}}</p>
        <p>подписок : {{owner.countFollowings}}</p>
       </div>
       <div class="bio-block">
        <p>{{owner.name_lastname}}</p>
        <p>{{owner.bio}}</p>
        
       </div>
      </div>
      
    </section>

    <section class="main-section" id="main-section">
      <ul>
         {{#each post}}
          <li><a href="/post/{{this.id_img}}"><img src="/img/postedPic/{{this.id_img}}.jpg" class="post-pic" title="{{this.comment}}"></a></li>
         {{/each}}
      </ul>
     
    </section>
  </body>
</html>