<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>@{{user.username}}</title>
    <link rel="stylesheet" type="text/css" href="./../css/profile-page.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./../img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="./../img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="./../img/system/chat-empty.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="./../img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/find"><img src="./../img/system/compass-empty.svg" alt="Найти людей" title="Найти людей"></a>
          <a href="/notification"><img src="./../img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/iser/{{user.username}}"><img src="./../img/avatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar"></a>
        </div>
      </section>
    </header>

    <section class="profile-section">
      <div class="avatar-main-block">
        <img src="./../img/avatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar-main">
      </div>
      <div class="info-block">
        <div class="username-block"> 
          <p class="user-username">{{user.username}}</p>
          <button class="settings-button" onclick="window.location='/settings'">Настройки</button>
        </div>
       
       <div class="numbers-block">
        <p>публикаций : {{user.countPost}}</p>
        <p>подписчиков : {{user.countFollowers}}</p>
        <p>подписок : {{user.countFollowings}}</p>
       </div>

       <div class="bio-block">
        <p>{{user.name_lastname}}</p>
        <p>{{user.bio}}</p>
       </div>
      </div>
      
    </section>

    <section class="main-section" id="main-section">
      <ul>
         {{#each post}}
          <li><a href="/post/{{this.id_img}}"><img src="/img/postedPic/{{this.id_img}}.jpg" class="post-pic" title="{{this.comment}}"></a></li>
         {{/each}}
      </ul>
     
    </section>
  </body>
</html>