<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Instyle</title>
    <link rel="stylesheet" type="text/css" href="./../css/recommendation.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="./../img/system/title-logo.png" />
  </head>
  <body>
    <header>
      <section>
        <a href="/"><p class="logo-name">Instyle</p></a>
        <div class="header-icons">
          <a href="/"><img src="./../img/system/home-empty.svg" alt="Главная страница" title="Главная страница"></a>
          <a href="/chat"><img src="./../img/system/chat-empty.svg" alt="Мессенджер" title="Мессенджер"></a>
          <a href="/post"><img src="./../img/system/add-empty.svg" alt="Добавить фотографию" title="Добавить фотографию"></a>
          <a href="/recommendation"><img src="./../img/system/compass-fill.svg" alt="Рекомендуемое" title="Рекомендуемое"></a>
          <a href="/notification"><img src="./../img/system/notification-empty.svg" alt="Уведомления" title="Уведомления"></a>
          <a href="/user/{{user.username}}"><img src="./../img/smallAvatar/{{#if user.avatar}}{{user.id}}{{else}}standard{{/if}}.jpg" alt="{{user.name_lastname}}" title="{{user.name_lastname}}" class="user-avatar" {{#if user.owner}}{{else}}style="border: none;"{{/if}}></a>
        </div>
      </section>
    </header>

    <section class="find-section">
      <h2>Поиск</h2>
      <input type="text" placeholder="Введите никнейм пользователя" class="input-find" id="searchInput">
        <a href="/user/{{this.user.username}}" class="div-found-user" style="display: none;" id="divUser">
          <img src="#" class="found-avatar" id="imgUser">
          <p class="found-user-username" id="usernameUser"></p>
        </a>
    </section>

    <section class="main-section" id="main-section">
      <h2 class="name-popular">Популярное</h2>
      <ul>
         {{#each post}}
          <li>
            <a href="/post/{{this.[0]}}">
            {{#if this.[2]}}
              <img src="/img/post/postedGif/{{this.[0]}}.gif" class="post-pic" title="{{this.comment}}">
              {{else}}
              <img src="/img/post/smallPostedPic/{{this.[0]}}.jpg" class="post-pic" title="{{this.comment}}">
            {{/if}}
            </a>
          </li>
          
         {{/each}}
      </ul>
    </section>

<script src="/socket.io/socket.io.js"></script>
  <script src="../js/sockets.js"></script>
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    <script>
      $("#searchInput").on('input', function() {
        const searchInput = document.getElementById('searchInput');
        const divUser = document.getElementById('divUser');
        const imgUser = document.getElementById('imgUser');
        const usernameUser = document.getElementById('usernameUser');

        divUser.style = "display: none;";
        if (searchInput.value.length > 1 && searchInput.value.length <= 20) {
          fetch(`${window.location.origin}/recommendation/find/${searchInput.value}`, {
            method: "get",
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
          })
          .then(response => response.json())
          .then(result => {
            divUser.style = "display: flex;";
            divUser.href = `/user/${result.username}`;
            if (result.avatar) imgUser.src = `../img/smallAvatar/${result.id}.jpg`;
            else imgUser.src = `../img/smallAvatar/standard.jpg`;
            usernameUser.textContent = result.username;
          })
        }
      });
    </script>
  </body>
</html>